XML/apache-tomee-plus-1.5.0/webapps/vezbe-style-ws/WEB-INF/wsdl/HelloRPC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloRPCService" targetNamespace="http://informatika.ftn.ns.ac.yu/ws/style/rpc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://informatika.ftn.ns.ac.yu/ws/style/rpc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://informatika.ftn.ns.ac.yu/ws/style/rpc" version="1.0">
<xs:complexType name="person">
<xs:sequence>
<xs:element minOccurs="0" name="firstName" type="xs:string"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="sayHelloSeparatedResponse">
    <wsdl:part name="return" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part name="return" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloSeparated">
    <wsdl:part name="firstName" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="lastName" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part name="person" type="tns:person">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloRPC">
    <wsdl:operation name="sayHelloSeparated">
      <wsdl:input name="sayHelloSeparated" message="tns:sayHelloSeparated">
    </wsdl:input>
      <wsdl:output name="sayHelloSeparatedResponse" message="tns:sayHelloSeparatedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <wsdl:input name="sayHello" message="tns:sayHello">
    </wsdl:input>
      <wsdl:output name="sayHelloResponse" message="tns:sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloRPCServiceSoapBinding" type="tns:HelloRPC">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHelloSeparated">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="sayHelloSeparated">
        <soap:body use="literal" namespace="http://informatika.ftn.ns.ac.yu/ws/style/rpc"/>
      </wsdl:input>
      <wsdl:output name="sayHelloSeparatedResponse">
        <soap:body use="literal" namespace="http://informatika.ftn.ns.ac.yu/ws/style/rpc"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="sayHello">
        <soap:body use="literal" namespace="http://informatika.ftn.ns.ac.yu/ws/style/rpc"/>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal" namespace="http://informatika.ftn.ns.ac.yu/ws/style/rpc"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloRPCService">
    <wsdl:port name="HelloRPCPort" binding="tns:HelloRPCServiceSoapBinding">
      <soap:address location="http://localhost:9090/HelloRPCPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
