apache-tomee-plus-1.5.0/webapps/vezbe-style-ws/WEB-INF/wsdl/HelloMessage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloMessageService"
	targetNamespace="http://informatika.ftn.ns.ac.yu/ws/style/message"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://informatika.ftn.ns.ac.yu/ws/style/message"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://informatika.ftn.ns.ac.yu/ws/style/message"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="http://informatika.ftn.ns.ac.yu/ws/style/message">
			<xs:complexType name="sayHelloType">
				<xs:sequence>
					<xs:element minOccurs="0" name="firstName" type="xs:string" />
					<xs:element minOccurs="0" name="lastName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="sayHello" nillable="true" type="sayHelloType" />
			<xs:element name="sayHelloResponse" nillable="true" type="xs:string" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sayHello">
		<wsdl:part name="sayHello" element="tns:sayHello">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sayHelloResponse">
		<wsdl:part name="sayHelloResponse" element="tns:sayHelloResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HelloMessage">
		<wsdl:operation name="sayHello">
			<wsdl:input name="sayHello" message="tns:sayHello">
			</wsdl:input>
			<wsdl:output name="sayHelloResponse" message="tns:sayHelloResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloMessageServiceSoapBinding" type="tns:HelloMessage">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sayHello">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sayHelloResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloMessageService">
		<wsdl:port name="HelloMessagePort" binding="tns:HelloMessageServiceSoapBinding">
			<soap:address location="http://localhost:9090/HelloMessagePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
